h1 {
    text-align: center;
    text-decoration: underline;
    text-decoration-style: wavy;
    color: red;
}

p{
    text-align: center;
    color: rgb(33, 255, 33);
    font-size: 30px;
   
}
button{
    color: brown;
    background-color: lightgreen;

}
body{
    background-color: black;
}
a{
    text-decoration: none;
}
#box{
    background-color: blue;
}
#h1{
    font-weight: normal;
}
#h2{
    font-weight: bold;
}